{% extends 'crud_layout.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    <h1>Edit Task</h1>

    {{ include('task_crud/_form_manual.html.twig', {'button_label': 'Update'}) }}

    {{ include('task_crud/_delete_form.html.twig') }}
{% endblock %}
