{% extends 'crud_layout.html.twig' %}

{% block title %}New Task{% endblock %}

{% block content %}
    <h1>Create new Task</h1>

    {{ include('task_crud/_form_default.html.twig') }}

{% endblock %}
