@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.tasks-list ul {
    list-style-type: none;
    padding: 0;
}

.tasks-list ul li {
    display: grid;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 0.5em;
}

.tasks-list li .summary {
    display: flex;
    align-items: center;
}

.tasks-list li .deadline {
    border-radius: 0.25em;
    background-color: #ffca68;
    border: 1px solid orange;
    padding: 0.25em;
    font-size: 0.75em;
}

#flash-messages div {
    padding: 1em 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}

#flash-messages .flash-error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

#flash-messages .flash-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

#flash-messages .flash-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}

#flash-messages .flash-info {
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}

footer {
    background-color: #d7d7d7;
    padding: 1em;
    text-align: center;
    margin: auto -1em 0 -1em;
}

header {
    padding: 1em;
    margin: -1em -1em 1em -1em;
    background-color: #d7d7d7;
}

.container {
    min-height: 95vh;

    display: flex;
    flex-direction: column;
}
